<div class="seller-auth">
    <div class="sign-up">
        <h1>Seller Sign-Up</h1>

        <form #sellerSignupForm = "ngForm" (ngSubmit)="signUp(sellerSignupForm.value)" class="common-form">
            <!-- <label for="name">Name</label> -->
            <input type="text" ngModel name="name" class="form-input" placeholder="Enter Your Name">

            <!-- <label for="name">Password</label> -->
            <input type="password" ngModel name="password" class="form-input" placeholder="Enter Your Password">

            <!-- <label for="name">Email</label> -->
            <input type="email" ngModel name="email" class="form-input" placeholder="Enter your Email">

            <button class="form-button">Sign-Up</button>
        </form>
    </div>
</div>